.pokemon-fire-card {
  background-color: red;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-grass-card {
  background-color: green;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-water-card {
  background-color: blue;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-bug-card {
  background-color: lightgreen;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-normal-card {
  background-color: lightsalmon;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-poison-card {
  background-color: purple;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-electric-card {
  background-color: yellow;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-ground-card {
  background-color: brown;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-bug-card {
  background-color: lightgreen;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-fairy-card {
  background-color: pink;
  width: auto;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  cursor: zoom-in
}

.pokemon-img-div {
  width: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.card-botton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type p {
  padding: 4px;
  text-transform: capitalize;
}

.pokemon-fogo-txt {
  margin: 2px;
  border-radius: 10px;
  color: red;
  background-color: black;
}

.pokemon-metal-txt {
  margin: 2px;
  border-radius: 10px;
  color: silver;
  background-color: black;
}

.fav-button {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  cursor: pointer;
}