/* Grass type card */
.pokemon-grass-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg");
  background-color: rgba(56, 191, 75, 255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-grass-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg");
  background-color: rgba(56, 191, 75, 255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Fire type card */
.pokemon-fire-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Pok%C3%A9mon_Fire_Type_Icon.svg");
  background-color: rgba(255, 151, 65, 255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-fire-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Pok%C3%A9mon_Fire_Type_Icon.svg");
  background-color: rgba(255, 151, 65, 255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Water type card */
.pokemon-water-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg");
  background-color: rgba(54, 146, 220, 255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-water-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg");
  background-color: rgba(54, 146, 220, 255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Bug type card */
.pokemon-bug-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Pok%C3%A9mon_Bug_Type_Icon.svg");
  background-color: rgba(131, 195, 0, 255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-bug-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Pok%C3%A9mon_Bug_Type_Icon.svg");
  background-color: rgba(131, 195, 0, 255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Normal type card */
.pokemon-normal-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Pok%C3%A9mon_Normal_Type_Icon.svg");
  background-color: rgba(145, 154, 162, 255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-normal-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Pok%C3%A9mon_Normal_Type_Icon.svg");
  background-color: rgba(145, 154, 162, 255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Poison type card */
.pokemon-poison-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c4/Pok%C3%A9mon_Poison_Type_Icon.svg");
  background-color: rgba(181,103,206,255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-poison-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c4/Pok%C3%A9mon_Poison_Type_Icon.svg");
  background-color: rgba(181,103,206,255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Electric type card */
.pokemon-electric-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Pok%C3%A9mon_Electric_Type_Icon.svg");
  background-color: rgba(251,209,0,255);
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-electric-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Pok%C3%A9mon_Electric_Type_Icon.svg");
  background-color: rgba(251,209,0,255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Ground type card */
.pokemon-ground-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/Pok%C3%A9mon_Ground_Type_Icon.svg");
  background-color: rgba(232,114,54,255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-ground-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/Pok%C3%A9mon_Ground_Type_Icon.svg");
  background-color: rgba(232,114,54,255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

/* Fairy type card */
.pokemon-fairy-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Pok%C3%A9mon_Fairy_Type_Icon.svg");
  background-color: rgba(251,137,235,255);
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pokemon-fairy-card .pokemon-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Pok%C3%A9mon_Fairy_Type_Icon.svg");
  background-color: rgba(251,137,235,255);
  background-blend-mode: lighten;
  width: 70px;
  height: 70px;
  cursor: zoom-in;
  justify-self: center;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  padding: 1px 2px 1px 1px;
  border-radius: 10px;
}

.pokemon-img-div {
  width: auto;
  justify-self: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  color: black;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1px 2px;
}

.card-botton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type p {
  padding: 4px;
  text-transform: capitalize;
}

.pokemon-fogo-txt {
  margin: 2px;
  border-radius: 10px;
  color: red;
  background-color: black;
}

.pokemon-metal-txt {
  margin: 2px;
  border-radius: 10px;
  color: silver;
  background-color: black;
}

.fav-button {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  cursor: pointer;
}

@media screen and (max-width: 509px) {
  .pokemon-grass-card {
    width: 480px;
  }

  .pokemon-grass-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-fire-card {
    width: 480px;
  }

  .pokemon-fire-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-water-card {
    width: 480px;
  }

  .pokemon-water-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-bug-card {
    width: 480px;
  }

  .pokemon-bug-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-normal-card {
    width: 480px;
  }

  .pokemon-normal-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-poison-card {
    width: 480px;
  }

  .pokemon-poison-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-electric-card {
    width: 480px;
  }

  .pokemon-electric-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-ground-card {
    width: 480px;
  }

  .pokemon-ground-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .pokemon-fairy-card {
    width: 480px;
  }

  .pokemon-fairy-card .pokemon-image {
    width: 148px;
    height: 148px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px;
  }

  .card-body {
    font-size: xx-large;
    justify-content: space-evenly;
  }
}
