* {
  margin: 0px;
}

.App {
  background-color: #121212;
  padding-right: 10px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
}

.ref {
  color: white;
  padding: 20px;
  align-self: center;
}